
.form-container {
    display: flex;
    flex-direction: row;
}

.submit-btn {
    background-color: #CFF9EA !important;
    color:black !important;
}

.submit-btn:hover {
    background-color: black !important;
    color:white !important;
}

@media (max-width: 900px) {
    .form-container {
        display: flex;
        flex-direction: column !important;
    }
}