.profile-container {
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 350;
}

.profile-picture {
    width: 150px !important; 
    height: 150px !important;
}

.logout-btn {
    background-color: black !important;
}

.logout-btn:hover {
    background-color: #CFF9EA !important;
    color:black;
}


@media (max-width: 900px) {
    .profile-container {
        padding: 20px;

    }
    .profile-container h1 {
        margin-left: 0px;
        line-height: 1;
        font-size: 1.5em;
    }

    .profile-picture {
        width: 100px !important;
        height: 100px !important;
    }
}

