.appbar {
    background-color: white;
    color: black;
}

/* @media (max-width: 600px) {
    .appbar {
        display: none;
    }
} */





/* @media (max-width: 600px) {
  .leftbar {
    display: none;
   }
} */